venv
.venv
.vscode
__pycache__/
Head_hunter_DB_search_project/__pycache__/
Head_hunter_DB_search_project/.env
LeetCode_Stolyarov_training/__pycache__/
CodeWars/__pycache__/
REST_API_LiteStar_CRUD/REST_API_LiteStar_ENV
REST_API_LiteStar_CRUD/.env
request_sender/.venv
c3l4_DAO/labor_1/.env
interview_bot_p/.env
interview_bot_p/op_ai_testing.py
request_sender/__pycache__/

