<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карточка пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% for user in results %}       
        <h1>Карточка пользователя:</h1>
        <p>Имя пользователя: {{ user.first_name }} {{ user.last_name }}</p>
        <p>id: {{ user.id }}</p>
        <p>Возраст: {{ user.age }}</p>
        <p>Почта: {{ user.email }}</p>
        <p>Телефон: {{ user.phone }}</p>
        <p>Роль: {{ user.role }}</p>
    {% endfor %}

    <div class="container">
        <form method="GET" action="/user/new/">
            <input type="submit" value="Зарегистрировать нового пользователя">
        </form>
    </div>

</body>
</html>