<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список городов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <ol>
        {% for number, city in c_dict.items() %}
            <li>{{ city }}</li>
        {%endfor%}
    </ol>

    {% if results %}
        {% if results in c_dict %}
            <h2>{{ c_dict[results] }}</h2>
            <p>Такой город есть в списке</p>
        {% else %}
            <h2>'Ошибкa r40r'</h2>
        {% endif %}
    {% endif %}
</body>
</html>