<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Должен корректно адаптировать ширину страницы под мобильные устройства. -->
    <title>Опубликовать</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Опубликовать</h1>
        <form action="/load/" method="post" enctype="multipart/form-data">
            <label for="username">Ваш логин:</label>
            <input type="text" id="username" name="username" placeholder="Введите ваш логин"><br><br>

            <label for="description">Описание:</label>
            <textarea id="description" name="description" rows="3" placeholder="Добавьте описание"></textarea><br><br>

            <label for="file">Фотография:</label>
            <input type="file" id="file" name="file"><br><br>

            <button type="submit">Опубликовать</button>
        </form>
    </div>
</body>
</html>