<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма добавления пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Форма добавления пользователя</h1>
    <form method="GET" action="/form">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="level" placeholder="Junior, middle, senior">
        <input type="submit" value="Добавить">
    </form>

</body>
</html>