<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма входа пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Форма входа пользователя</h1>
    <form method="POST" action="/">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Войти">
    </form>

    {% if results is not none %}
        {% if results %}
            <h2>Добро пожловать, {{ results.title() }}</h2>
            <p>Пользователь с таким паролем есть в базе данных</p>
        {% else %}
            <h2>Доступ запрещён</h2>
        {% endif %}
    {% endif %}
</body>
</html>